footer
	.container
		.row
			.col-lg-4
				.logo
					img(src="./assets/logo-white.svg", alt="")
				ul.list-info-footer
					li Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
					li Phone: 028. 38266766 
					li Fax: 028. 38266766
					li Email: info@antingroup.vn
			.col-lg-4
				.title-footer ĐĂNG KÝ NHẬN MAIL
				.block-form
					form(action="#")
						.form-group
							input.form-control.email(type="text" placeholder="Email của bạn")
						.form-group
							button(data-url="ajax") ĐĂNG KÍ NGAY
			.col-lg-4
				.title-footer MENU
				ul.list-link
					.item
						a.link(href="index.html") TRANG CHỦ
					.item
						a.link(href="index.html") GIỚI THIỆU
					.item
						a.link(href="index.html") DỰ ÁN
					.item
						a.link(href="index.html") TIN TỨC
					.item
						a.link(href="index.html") CHO THUÊ PHÒNG
					.item
						a.link(href="index.html") LIÊN HỆ
.copy-right Copyright © 2019 An Tin Group. All rights reserved. Designed by Web4G Solutions