header
	.logo
		img(src="./assets/logo.svg", alt="", srcset="")
	.toggle-menu.mobile
	.main-nav
		.container
			.row.no-gutters.ai-c
				ul.language
					li
						a(href="#") vn
					li
						a(href="#") en
				.list-nav.mx-at
					.nav-item
						a(href="gioi-thieu.html") giới thiệu
					.nav-item
						a(href="#") dự án
					.nav-item
						a(href="#") tin tức
					.nav-item
						a(href="#") cho thuê văn phòng
					.nav-item
						a(href="#") liên hệ
				.search
					img(src="./assets/icons/search.svg", alt="", srcset="")