.main-banner {
	.block-main-banner {
		position: relative;

		.img {
			height: 525px;
		}

		.swiper-pagination {
			.swiper-pagination-bullet {
				width           : 15px;
				height          : 15px;
				border          : 2px solid #ffffff;
				opacity         : 1;
				border-radius   : 50%;
				background-color: map-get($mau, main);
				transition      : all .2s ease-in-out;
				margin          : 0 15px;

				&.swiper-pagination-bullet-active {
					background-color: map-get($mau, main-2);
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-main-banner {
			.img {
				height: 400px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.block-main-banner {
			.img {
				height: 300px;
			}

			.swiper-pagination {
				display: none;
			}
		}
	}
}