@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel

@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "subscribeSuccess" }))
{
    <div class="form-group">
        @Html.TextBoxFor(d => d.Email, new { @class = "form-control email", placeholder = Html.GetResource(TempResourceKeyCollection.Subscribe_Input) })
    </div>
    <div class="form-group">
        <button data-url="ajax">@Html.GetResource(TempResourceKeyCollection.Subscribe_Button)</button>
    </div>
}


