section.offices-detail
	.container
		.title.wow.fadeInDown(data-wow-delay=".2s") Văn phòng cho thuê - Diện tích 30m2
		.block-tab-offices-detail
			.tab-container
				ul.list-tab
					li.item.wow.fadeInLeft(data-wow-delay=".2s" toggle-for="tab-01").active 
						.link vị trí
					li.item.wow.fadeInLeft(data-wow-delay=".4s" toggle-for="tab-02")
						.link cơ sở vật chất
					li.item.wow.fadeInLeft(data-wow-delay=".6s" toggle-for="tab-03")
						.link hạ tầng kĩ thuật
					li.item.wow.fadeInLeft(data-wow-delay=".8s" toggle-for="tab-04")
						.link dịch vụ tiện ích
					li.item.wow.fadeInLeft(data-wow-delay="1s" toggle-for="tab-05")
						.link thư viện hình ảnh
				.tab-content
					.content(tab-id="tab-01")
						.description
							.ckeditor.desc-item-detail
								p Địa chỉ: Harvest Tower - 12 Lê Thánh Tôn, P. Bến Nghé, Quận 1, TP.HCM
						#map
					.content(tab-id="tab-02")
						.ckeditor.desc-item-detail
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur
							p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis.
							img(src="./assets/images/news/news-detail.png", alt="")
							p Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur
					.content(tab-id="tab-03")
						.ckeditor.desc-item-detail
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur
							p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis.
							img(src="./assets/images/news/news-detail.png", alt="")
							p Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, semCum sociis natoque penatibus etmagnis dis parturient montes, nascetur
					.content(tab-id="tab-04")
						.ckeditor.desc-item-detail
							ul
								li
									p + Hệ thống đèn, máy lạnh có sẵn
								li 
									p + Camera quan sát, bảo vệ trực tại công ty 24/24
								li 
									p + Dịch vụ vệ sinh, hút thảm, dọn rác sinh hoạt hàng ngày tại văn phòng
								li 
									p + Giá cả: cạnh tranh
					.content(tab-id="tab-05")
						.list-image-detail
							-for(i=1;i<6;i++)
								.item
									img.ofcv.lazyload.blur-up(data-src="./assets/images/news/0"+i+".png", alt="alt")