.project-detail {
	margin: 50px 0;

	.title {
		position      : relative;
		margin-top    : 50px;
		color         : #5e5e5e;
		padding-bottom: 1rem;

		&:after {
			bottom          : 0;
			left            : 0;
			height          : 0.35em;
			width           : 2.2em;
			content         : '';
			background-color: #fdc52d;
			position        : absolute;
		}
	}

	.description {
		margin-top: 25px;
	}

	.social-media {
		display        : flex;
		flex-wrap      : wrap;
		list-style-type: none;
		padding-left   : 0;
		margin-top     : 25px;

		.item {
			margin-right: 15px;

			img {
				width : 42px;
				height: 42px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-title {
			max-width: unset;

			h2 {
				font-size: 50px;
			}

			h3 {
				font-size: 24px;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;

		.block-title {
			h2 {
				font-size: 24px;
			}

			h3 {
				font-size    : 14px;
				margin-top   : 10px;
				margin-bottom: 5px;
			}
		}

		.title {
			font-size : 16px;
			margin-top: 25px;
		}

		.description {
			margin-top: 15px;
		}

		.social-media {
			margin-top: 15px;

			.item {
				img {
					width : 25px;
					height: 25px;
				}
			}
		}
	}
}