.about-1 {
	margin-top: 50px;

	.list-menu {
		list-style-type: none;
		padding-left   : 0;
		display        : flex;
		flex-wrap      : wrap;
		margin-right   : -10px;
		margin-left    : -10px;

		.item-menu {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 25%;
			max-width       : 25%;
			padding-right   : 10px;
			padding-left    : 10px;

			.link {
				cursor        : pointer;
				padding       : 10px;
				text-align    : center;
				background    : map-get($mau, main);
				font-weight   : 700;
				color         : #ffffff;
				text-transform: uppercase;
			}
		}
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}