.about-3 {
	margin-top: 50px;
	background: #f2f0f0;

	.box-imgae {
		figure {
			position: relative;
			height  : 555px;

			figcaption {
				position  : absolute;
				top       : 50%;
				left      : 50%;
				width     : 80%;
				transform : translate(-50%, -50%);
				text-align: center;

				h3 {
					color         : #ffffff;
					font-size     : 54px;
					text-transform: uppercase;
				}

				p {
					color         : #fff;
					font-size     : 20px;
					letter-spacing: 5px;
				}
			}
		}
	}

	.box-content {
		align-self: center;
		overflow-y: auto;

		.description {
			width  : 80%;
			margin : 0 auto;
			padding: 25px 0;
		}
	}

	@media (max-width: 767.98px) {
		.box-content {
			.description {
				width  : 100%;
				padding: 25px;
			}
		}

		.block {
			&:nth-child(2) {
				.box-content {
					order: 2;
				}

				.box-imgae {
					order: 1;
				}
			}
		}
	}
}