.about-4 {
	margin-top: 50px;

	.block-title {
		margin-bottom: 1.5rem;
		text-align   : center;

		h3 {
			font-size     : 50px;
			color         : map-get($mau, main);
			letter-spacing: 5px;
			text-transform: uppercase;
		}

		p {
			font-size     : 24px;
			letter-spacing: 0.24em;
			color         : #5d5d5d;
			font-weight   : 500;
		}
	}

	.description {
		font-size  : 15px;
		margin     : 15px -7.5em 0;
		color      : #5e5e5e;
		line-height: 1.5;
		text-align : center;
		width      : 50%;
		margin     : 0 auto;
	}

	.block-slider-about-partner {
		margin-top      : 50px;
		background-image: url(../assets/images/about/background-about.png);
		background-size : cover;
	}

	.slider-about-partner {
		padding: 5em 0 12em;

		.item {
			.logo {
				img {
					display      : block;
					margin       : 0 auto;
					border-radius: 10em;
					height       : 115px;
					width        : 115px;
				}
			}

			.name {
				color      : #ffffff;
				font-weight: 700;
				margin-top : 1.5rem;
				text-align : center;
			}

			.numbers {
				position  : relative;
				color     : #ffffff;
				text-align: center;
				font-size : 4.5rem;

				&:after {
					content         : '';
					bottom          : 0;
					height          : 0.1em;
					width           : 0.6em;
					background-color: white;
					position        : absolute;
					left            : 50%;
					transform       : translate(-50%, 0%);
					margin          : auto;
				}
			}

			.list-info {
				list-style-type: none;
				padding-left   : 0;
				margin-top     : 25px;

				.item {
					span {
						float        : left;
						color        : #fdc52d;
						font-weight  : 700;
						padding-right: 10px;
					}

					p {
						color      : #ffffff;
						line-height: 1.6;
					}

					&:first-child {
						margin-bottom: 25px;
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			width     : 20px;
			height    : 43px;
			margin-top: 0;
			top       : unset;
			bottom    : 25px;
			transition: .3s all ease-in-out;

			&:after {
				content        : '';
				width          : 100%;
				height         : 100%;
				background-size: cover;
			}

			@media (min-width: 1025px) {
				&:hover {
					transform: scale(1.2);
				}
			}
		}

		.swiper-button-next {
			left: 52%;

			&:after {
				background-image: url(../assets/icons/next-slider.png);
			}
		}

		.swiper-button-prev {
			left: 48%;

			&:after {
				background-image: url(../assets/icons/prev-slider.png);
			}
		}
	}

	@media (max-width: 1024.98px) {
		.slider-about-partner {
			padding: 3rem 0;

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}
	}

	@media (max-width: 767.98px) {
		.block-title {
			margin-bottom: 1rem;

			h3 {
				font-size: 34px;
			}

			p {
				font-size: 16px;
			}
		}

		.description {
			width: 100%;
		}

		.block-slider-about-partner {
			margin-top: 25px;
		}
	}
}