section.about-1
	.container
		ul.list-menu
			li.item-menu
				.link.wow.fadeInLeft(data-wow-delay=".2s" data-sroll=".about-2") giới thiệu
			li.item-menu
				.link.wow.fadeInLeft(data-wow-delay=".4s" data-sroll=".about-3") mô tả
			li.item-menu
				.link.wow.fadeInLeft(data-wow-delay=".6s" data-sroll=".about-3") giá cả
			li.item-menu
				.link.wow.fadeInLeft(data-wow-delay=".8s" data-sroll=".about-4") đối tác