section.about-2
	.container
		.row
			.col-md-5.box-left
				.img.oh-v(data-getHeight)
					img.ofcv(src="./assets/images/about/about-2.png", alt="")
			.col-md-7.box-right(data-setHeight)
				.block-title
					h2.wow.fadeInUp(data-wow-delay=".2s") Giới thiệu
				h3 AN TÍN GROUP
				.description
					.ckeditor.desc-about-block-1
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						ul
							li – Tel: 028. 8322.7919/15 – Fax: 028.3825.7189
							li – Email: info@harvestdjsc.com
							li – Website: www.harvestdjsc.com
					.ckeditor.desc-about-block-2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.