section.about-3
	.block.row.no-gutters
		.col-md-6.box-imgae
			figure.ov-h(data-getHeight)
				img.ofcv(src="./assets/images/about/about-3_01.png", alt="")
				figcaption
					h3.wow.fadeInUp(data-wow-delay=".2s") mô tả
					p LOREM IPSUM DOLOR SIT AMET
		.col-md-6.box-content(data-setHeight=767.98)
			.description
				.ckeditor.desc-about-3-block-1
					h3 MÔ TẢ CHUNG
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.block.row.no-gutters
		.col-md-6.box-content(data-setHeight=767.98)
			.description
				.ckeditor.desc-about-3-block-1
					h3 GIÁ THUÊ CẠNH TRANH
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.col-md-6.box-imgae
			figure.ov-h(data-getHeight)
				img.ofcv(src="./assets/images/about/about-3_02.png", alt="")
				figcaption
					h3.wow.fadeInUp(data-wow-delay=".2s") giá cả
					p LOREM IPSUM DOLOR SIT AMET