section.about-4
	.container
		.block-title
			h3 đối tác
			p LOREM IPSUM DOLOR SIT AMET
		.description.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora deleniti veniam eum impedit dolorem, nihil enim illo facilis ex nobis asperiores exercitationem voluptatum rem pariatur accusamus a, cumque delectus
	.block-slider-about-partner
		.container
			.slider-about-partner
				.swiper-container
					.swiper-wrapper
						-for(i=1;i<5;i++)
							.swiper-slide
								.item
									.logo
										img.ofcv(src="./assets/images/about/slider-partner-logo.png", alt="")
									.name LOREM IPSUM DOLOR SIT AMET, CONSECTETUER 2
									.numbers 01
									ul.list-info
										li.item
											span Lĩnh Vực Kinh Doanh: 
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
										li.item
											span Website: 
											p Lorem ipsum dolor sit amet
										li.item
											span Tel: 
											p 0969912404
										li.item
											span Fax: 
											p 1231234122
										li.item
											span Email: 
											p Lorem ipsum dolor sit ame
				.swiper-button-prev
				.swiper-button-next