section.contact
	.block-send-mail
		.container
			.block-title
				h2 LIÊN HỆ
				h3 AN TÍN GROUP
				p.lcl.lcl-2 Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
			.block-form
				form(action="#" method="method")
					.form-group
						input.form-control(type="text" placeholder="Nhập tên*")
					.form-group
						input.form-control(type="text" placeholder="Nhập email*")
					.form-group
						input.form-control(type="text" placeholder="Nhập số điện thoại*")
					.form-group
						textarea.form-control(placeholder="Nhập email *")
	.block-address