@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.News.NewsDetailViewModel

<section class="offices-detail">
    <div class="container">
        <div class="title wow fadeInDown" data-wow-delay=".2s">@Model.Article.Title</div>
        @Html.Raw(Model.Article.Description)
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="/content/resources/js/map.min.js"></script>
}