@import '../abstracts/variables.scss';

footer {
	background: #2B4E0B;
	padding   : 22px 0 38px;

	.row {
		margin-right: -50px;
		margin-left : -50px;
	}

	[class*="col-"] {
		padding-left : 50px;
		padding-right: 50px;

		&:nth-child(2) {
			border-right: 1px solid #5b7048;
			border-left : 1px solid #5b7048;
		}
	}

	.list-info-footer {
		list-style-type: none;
		padding-left   : 0;
		margin-top     : 31px;

		li {
			font-size: 14px;
			color    : map-get($mau, main-2);
		}
	}

	.title-footer {
		font-size    : 17px;
		font-weight  : 700;
		color        : #70AD3A;
		margin-bottom: 32px;
		margin-top   : 50px;
	}

	.form-group {
		margin-bottom: 15px;

		input {
			&.form-control {
				width      : 100%;
				line-height: 44px;
				font-size  : 14px;
				background : rgba($color: #ffffff, $alpha: .2);
				border     : 0;
				color      : #D1D3D4;
				padding    : 0 15px;

				&::placeholder {
					color: #D1D3D4;
				}
			}
		}

		button {
			color     : #D1D3D4;
			font-size : 15px;
			width     : 100%;
			height    : 44px;
			box-sizing: border-box;
			border    : 1px solid #5b7048;
			background: none;
		}
	}

	.list-link {
		list-style-type: none;
		padding-left   : 0;
		display        : flex;
		flex-wrap      : wrap;

		.item {
			margin-right : 15px;
			margin-bottom: 15px;

			.link {
				color: rgba($color: #ffffff, $alpha: .5)
			}
		}
	}

	@media (max-width: 1024.98px) {
		.row {
			margin-right: -10px;
			margin-left : -10px;
		}

		[class*="col-"] {
			padding-left : 10px;
			padding-right: 10px;

			&:nth-child(2) {
				border-right: 0;
				border-left : 0;
			}
		}

		.logo {
			img {
				display: block;
				margin : 0 auto;
			}
		}

		.list-info-footer {
			text-align: center;
		}

		.title-footer {
			text-align   : center;
			margin-top   : 25px;
			margin-bottom: 10px;
		}

		.block-form {
			form {
				display  : flex;
				flex-wrap: wrap;

				.form-group {
					-ms-flex        : 0 0 100%;
					-webkit-box-flex: 0;
					flex            : 0 0 50%;
					max-width       : 50%;
				}
			}
		}

		.list-link {
			justify-content: center;
		}
	}
}

.copy-right {
	font-size      : 14px;
	width          : 100%;
	height         : 56px;
	display        : flex;
	align-items    : center;
	justify-content: center;
	text-align     : center;
	color          : map-get($mau, main-2);
	background     : map-get($mau, main);
}