section.news
	.container
		.block-title
			h2.wow.fadeInDown(data-wow-delay=".2s") TUYỂN DỤNG
			h3.wow.fadeInUp(data-wow-delay=".2s") AN TÍN HOMES
			p.lcl.lcl-2 Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
		.list-news
			-for(i=1;i<6;i++)
				.item-news.wow.fadeIn(data-wow-delay=".2s")
					.img.ov-h(data-getHeight)
						a(href="tin-tuc-chi-tiet.html")
							img.ofcv(src="./assets/images/news/0"+i+".png", alt="")
					.content.ov-h(data-setHeight="575.98")
						h3.lcl.lcl-2 LOREM IPSUM DOLOR SIT AMET, CON SECTE TUER ELIT. 1 LOREM IPSUM DOLOR SIT AMET, CON SECTE TUER ELIT. 1 LOREM IPSUM DOLOR SIT AMET, CON SECTE TUER ELIT. 1
						p.lcl.lcl-5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni et magni Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni
						a.btn.read-more.main-color(href="tin-tuc-chi-tiet.html") xem thêm
		include ../_layout/_pagination.pug