section.news-others
	.container
		.slider-item-others
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							a(href="#")
								figure.ov-h
									img.ofcv(src="./assets/images/news/0"+i+".png", alt="alt")
									figcaption
										a.btn.read-more.main-color(href="#") xem
			.swiper-button-prev
			.swiper-button-next