.index-1 {
	margin-top: 150px;

	.content-about-us {
		position      : relative;
		min-height    : 500px;
		border        : solid 5px map-get($mau, main);
		border-top    : none;
		background    : #ffffff;
		padding-bottom: 60px;
		padding-left  : 40px;

		&:after {
			content        : '';
			position       : absolute;
			width          : 200px;
			height         : 8px;
			top            : -1px;
			left           : -2px;
			background     : url(../assets/icons/linecolor.png);
			background-size: 100%;
		}

		h2 {
			text-align: center;
			font-size : 65px;
			color     : #889099;
			margin-top: -55px;
		}

		.content {
			width       : 60%;
			margin-right: auto;

			h3 {
				margin-top: 60px;
				font-size : 25px;
				color     : map-get($mau, main);
			}

			p {
				margin-top: 40px;
				text-align: justify;
				font-size : 15px;
				color     : #5d5d5d;
			}

			.read-more {
				margin-top: 40px;
				float     : right;
			}
		}
	}

	.img-about-us {
		position      : absolute;
		right         : 0;
		top           : -40px;
		padding-bottom: 35px;
		background    : #fff;
	}

	.number-of-page {
		position: absolute;
		right   : 0;
		bottom  : 10px;

		span {
			position     : relative;
			font-size    : 60px;
			margin-bottom: 0;
			color        : map-get($mau, main);
			font-weight  : 700;
			padding      : 0 15px 15px 0px;

			&:after {
				content      : '';
				position     : absolute;
				right        : 0;
				bottom       : 0;
				width        : 28px;
				height       : 55px;
				border-right : solid 5px #ffb600;
				border-bottom: solid 5px #ffb600;
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: 100px;

		.img-about-us {
			display: none;
		}

		.content-about-us {
			padding-left  : 10px;
			margin        : 0 15px;
			padding-bottom: 30px;
			min-height    : unset;

			.content {
				width      : 80%;
				margin-left: auto;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;

		.content-about-us {
			border-top : solid 5px map-get($mau, main);
			padding-top: 30px;

			&:after {
				content: none;
			}

			h2 {
				line-height: 1;
				font-size  : 32px;
				margin-top : 0;
			}

			.content {
				width: 90%;

				h3 {
					font-size : 16px;
					margin-top: 15px;
				}

				p {
					margin-top: 20px;
				}

				.read-more {
					margin-top: 20px;
				}
			}
		}
	}
}