.index-2 {
	margin-top: 100px;

	.news-images {
		figure {
			position: relative;
			height  : 600px;

			figcaption {
				display    : flex;
				align-items: center;

				position        : absolute;
				top             : 0;
				left            : 35px;
				z-index         : 10;
				transform       : rotate(-180deg);
				writing-mode    : vertical-rl;
				text-orientation: sideways;
				padding         : 50px 0;
				background      : #ffffff;

				h2 {
					font-size     : 60px;
					color         : map-get($mau, main);
					padding-bottom: 45px;
				}

				>a {
					font-size     : 65px;
					color         : #707a85;
					text-transform: capitalize;
				}
			}
		}
	}

	.block-list-new {
		background: #2B4E0B;
	}

	.list-item-news {
		display  : flex;
		flex-wrap: wrap;
		max-width: 855px;
		margin   : 0 auto;

		.item-news {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 50%;
			max-width       : 50%;
			padding-right   : 30px;
			padding-left    : 30px;
			margin-top      : 50px;

			h2 {
				position      : relative;
				font-size     : 22px;
				padding-bottom: 10px;
				color         : #ffffff;

				&:after {
					content   : '';
					position  : absolute;
					width     : 40px;
					height    : 1px;
					bottom    : 0;
					left      : 0;
					background: #ffffff;
				}
			}

			time {
				display     : inline-block;
				color       : #ffffff;
				font-weight : 700;
				position    : relative;
				font-size   : 15px;
				padding-left: 30px;
				margin      : 15px 0;

				&:after {
					content         : '';
					position        : absolute;
					left            : 0;
					top             : 50%;
					transform       : translateY(-50%);
					width           : 16px;
					height          : 16px;
					background-image: url(../assets/icons/time.png);
					background-size : cover;
				}
			}

			.desc {
				height  : 66px;
				overflow: hidden;

				p {
					font-size: 15px;
					color    : #ffffff;
				}
			}
		}

		.block-view-more {
			margin-top : 35px;
			margin-left: auto;
		}
	}

	@media (max-width: 1024.98px) {
		.news-images {
			figure {
				height: 300px;

				figcaption {
					padding: 25px 0;
					left   : 15px;

					h2 {
						font-size     : 40px;
						padding-bottom: 25px;
					}

					>a {
						font-size: 32px;
					}
				}
			}
		}

		.block-list-new {
			padding-bottom: 50px;
			padding-left  : 15px;
			padding-right : 15px;
		}

		.list-item-news {
			max-width: unset;

			.block-view-more {
				margin-right: 30px;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;

		.news-images {
			figure {
				height: 200px;

				figcaption {
					transform       : unset;
					text-orientation: unset;
					writing-mode    : unset;
					padding         : 0 25px;
					top             : 25px;

					h2 {
						padding-right : 25px;
						padding-bottom: 0;
					}
				}
			}
		}

		.block-list-new {
			padding-bottom: 25px;
		}

		.list-item-news {
			.item-news {
				-ms-flex        : 0 0 100%;
				-webkit-box-flex: 0;
				flex            : 0 0 100%;
				max-width       : 100%;
				margin-top      : 25px;
				padding-right   : 0;
				padding-left    : 0;
			}
		}
	}
}