.index-4 {
	position  : relative;
	margin-top: 120px;

	.title-facilities {
		position  : absolute;
		top       : 50%;
		left      : 0;
		right     : 0;
		transform : translateY(-50%);
		margin    : 0 auto;
		background: rgba($color: #ffffff, $alpha: .9);
		width     : 330px;
		height    : 330px;
		text-align: center;
		padding   : 15px;
		box-shadow: inset 0px 0px 0px 1px rgba(217, 220, 217, 0.8);
		border    : 15px solid transparent;
		z-index   : 100;

		.block {
			text-align : center;
			position   : absolute;
			top        : 50%;
			transform  : translateY(-50%);
			line-height: 1.5;
			padding    : 0 35px;

			>a {
				text-transform: uppercase;
				font-size     : 41px;
				color         : #2b3f1f;
				font-weight   : 700;
			}
		}
	}

	.slider-facilities {
		.img {
			height: 600px;
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: 50px;

		.title-facilities {
			width : 250px;
			height: 250px;

			.block {
				padding: 0 10px;

				>a {
					font-size: 36px;
				}
			}
		}

		.slider-facilities {
			.img {
				height: 500px;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;
	}
}