section.main-banner
	.block-main-banner
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<5;i++)
					.swiper-slide
						.img.ov-h
							img.ofcv(src="./assets/images/banner/1.png", alt="")
			.swiper-pagination