@model MainProject.SBussiness.LandingPage.Models.News.OfficeDetailViewModel
@using MainProject.Core
@using MainProject.Core.Enums
<section class="offices-detail">
    <div class="container">
        <div class="title wow fadeInDown" data-wow-delay=".2s">@Model.Section1.Title</div>
        @Html.Raw(Model.Section1.Description)
    </div>
</section>
@section scripts{
    <script>
			var locationsInput = [
				{
					lat: 10.1251,
					lng: 11.125,
					title: 'Home',
					address: '134/8A, Trần Bá Giao, Q.Gò Vấp, Tp. HCM',
					phone: '0914.633.990'
				}
			]
    </script>
    <script type="text/javascript" src="/content/resources/js/map.min.js"></script>
}