extends _components/_layout/_layout.pug

block var
	- let title = 'Dự án';
	- let bodyClass = 'projects-page';

block banner,breadcrumb
	include ./_components/banner/main-banner
block main
	include ./_components/projects/p-1
block scripts
