extends _components/_layout/_layout.pug

block var
	- let title = 'Dự án chi tiết';
	- let bodyClass = 'project-page';

block banner,breadcrumb
	include ./_components/banner/main-banner
block main
	include ./_components/projects/p-2
block scripts
