extends _components/_layout/_layout.pug

block var
	- let title = 'Tuyển dụng';
	- let bodyClass = 'recruitment-page';

block banner,breadcrumb
	include ./_components/banner/main-banner
block main
	include ./_components/news/n-2
block scripts
