.btn {
	display        : inline-flex;
	justify-content: center;
	align-items    : center;
	border         : 0;
	padding        : 0;

	&.read-more {
		font-weight   : 700;
		text-transform: uppercase;
		font-size     : 14px;
		line-height   : 35px;
		padding       : 0 25px;

		&.main-color {
			color     : #ffffff;
			background: map-get($mau, main);
		}

		&.white {
			color     : #000000;
			background: #ffffff;
		}
	}
}