section.index-1
	.container
		.row
			.col-lg-8.content-about-us
				h2.wow.fadeInLeft(data-wow-delay=".2s") Giới thiệu
				.content
					h3 DỊCH VỤ CHO THUÊ VĂN PHÒNG AN TÍN HOMES
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.btn.read-more.main-color(href="gioi-thieu.html") xem thêm
			.col-lg-6.img-about-us
				.img.ov-h
					img.ofcv.lazyload.blur-up(data-src="./assets/images/index/index-1-about.png", alt="GIỚI THIỆU", srcset="")
		.number-of-page.dekstop.wow.fadeInRight(data-wow-delay=".2s") 
			span 01.