section.index-1
	.container
		.row
			.col-lg-8.content-about-us
				h2 Giới thiệu
				.content
					h3 DỊCH VỤ CHO THUÊ VĂN PHÒNG HARVEST TOWER
					p Tòa nhà Harvest Tower thuộc công ty cổ phần phát triển Harvest, là nơi chuyên cung cấp dịch vụ văn phòng cho thuê, văn phòng đại diện, văn phòng ảo,…. Tòa nhà Harvest Tower gồm 8 tầng cho thuê văn phòng, 01 tầng hầm, bãi giữ xe tại tòa nhà cùng khuôn viên đẹp, thoáng mát, gần nhiều ngân hàng và tiệm ăn lớn. Tọa lạc tại vị trí gần trung tâm quận 1, từ tòa nhà Harvest quý khách chỉ mất khoảng 1 phút để đi đến các tòa nhà hạng A như Sunwah, Time Square, Bitexco,…
					a.btn.read-more.main-color(href="#") read more
			.col-lg-6.img-about-us
				.img.ov-h
					img.ofcv(src="./assets/images/index/index-1-about.png", alt="GIỚI THIỆU", srcset="")
		.number-of-page.dekstop
			span 01.