section.index-2
	.row.no-gutters
		.news-images.col-lg-3
			figure.ov-h
				img.ofcv(src="./assets/images/index/newhome-tower.png", alt="", srcset="")
				figcaption.number-of-page
					h2 02.
					a(href="#") TIN TỨC
		.block-list-new.col-lg-9
			.list-item-news
				-for(i=1;i<5;i++)
					.item-news
						a(href="#")
							h2.lcl.lcl-2 LOREM IPSUM DOLOR SIT AMET, CON SECTE TUER ELIT. 1
							time 23/09/2017
							.desc
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magni.
				.block-view-more
					a.btn.read-more.white(href="#") xem thêm