section.index-3
	.block-intro
		.block-title
			h2.wow.fadeInDown(data-wow-delay=".2s") cho thuê văn phòng
			h3.wow.fadeInUp(data-wow-delay=".2s") AN TÍN HOMES
			p.lcl.lcl-2 Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
		.number-of-page
			h4 03.
			a.wow.fadeInDown(data-wow-delay=".2s" href="#") Văn phòng
	.container
		.slider-projects
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<4;i++)
						.swiper-slide
							.item-project
								a(href="cho-thue-van-phong-chi-tiet.html")
									figure.ov-h
										img.ofcv(src="./assets/images/index/item-project-0"+i+".png")
										figcaption
											.project-info
												.name CHO THUÊ VĂN PHÒNG TẠI TP.HCM
												.desc.lcl.lcl-3 Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
												a.btn.read-more.main-color(href="cho-thue-van-phong-chi-tiet.html") xem thêm
			.swiper-button-prev
			.swiper-button-next
		.block-view-more.ta-c
			a.btn.read-more.main-color(href="cho-thue-van-phong.html") xem thêm