.index-4
	a(href="./assets/images/index/infrastructure-01.png" data-fancybox="list-images")
		.title-facilities
			.block
				p cơ sở vật chất
				p nhấn để xem
	.slider-facilities
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<5;i++)
					.swiper-slide
						.img.ov-h
							img.ofcv(src="./assets/images/index/infrastructure-0"+i+".png", alt="")
		// DANH SÁCH HÌNH ẢNH POPUP - GẮN ĐÚNG LINK ẢNH + DATA FANCYBOX
		.d-n
			-for(i=1;i<5;i++)
				a(href="./assets/images/index/infrastructure-0"+i+".png" data-fancybox="list-images")
					img(src="./assets/images/index/infrastructure-0"+i+".png", alt="")